*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  touch-action: manipulation; }

@font-face {
  font-family: museomoderno;
  src: url(/fonts/MuseoModerno-Regular.ttf) format("opentype"); }

@font-face {
  font-family: jura;
  src: url(/fonts/Jura-Regular.ttf) format("opentype"); }

@font-face {
  font-family: jurabold;
  src: url(/fonts/Jura-Bold.ttf) format("opentype"); }

body {
  position: relative;
  padding: 2rem;
  background-color: #EB455F;
  display: flex;
  flex-direction: column;
  align-items: center; }

.heading {
  width: 100%; }
  .heading__menu {
    text-align: end;
    margin-bottom: 5rem; }
  .heading__title {
    margin-bottom: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .heading__title h1 {
      font-family: museomoderno, 'sans-serif';
      text-transform: uppercase;
      font-size: 3.7rem;
      color: #FCFFE7;
      line-height: 3.4rem; }
    .heading__title--ms {
      text-transform: lowercase;
      font-size: 2.7rem;
      display: block;
      text-align: end;
      margin-left: 5.2rem; }

.leagueSelection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .leagueSelection__tag {
    background: rgba(43, 52, 103, 0.3);
    padding: .3rem 1.2rem;
    border-radius: 100px;
    margin-bottom: 1rem; }
    .leagueSelection__tag h3 {
      font-family: museomoderno, 'sans-serif';
      color: #FCFFE7; }
  .leagueSelection__selector {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .leagueSelection__selector .dropdown-btn {
      position: relative;
      width: 26rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #FCFFE7;
      padding: 1rem 2rem;
      border-radius: 100px;
      border: none;
      outline: none;
      cursor: pointer;
      font-family: museomoderno, 'sans-serif';
      font-size: 1.8rem;
      color: #00235B;
      z-index: 6;
      margin-bottom: 4rem; }
      .leagueSelection__selector .dropdown-btn img {
        margin-right: 1.4rem; }
      .leagueSelection__selector .dropdown-btn .ddarrow {
        margin: 0 0 0 1.4rem; }
    .leagueSelection__selector .pOne {
      display: flex;
      align-items: center; }

#dropdown {
  position: relative; }

.dropdown-options {
  position: absolute;
  top: 20%;
  width: 100%;
  left: 0;
  margin-top: 5px;
  padding-top: 3rem !important;
  padding: 0;
  list-style: none;
  background-color: #FCFFE7;
  border: none;
  outline: none;
  border-radius: 0 0 5px 5px;
  display: none;
  z-index: 5; }

.dropdown-option {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-family: museomoderno, 'sans-serif';
  color: #2B3467; }
  .dropdown-option img {
    margin-right: 1.4rem; }

.dropdown-option:hover {
  background-color: #f2f2f2; }

#subSelect1, #subSelect2 {
  z-index: 2;
  font-size: 1.2rem;
  width: 18rem;
  border-radius: 10px; }
  #subSelect1 .pOne img, #subSelect2 .pOne img {
    margin-right: 1rem; }

#subdropdown {
  position: relative; }

.subdropdown-options {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  padding-top: 1.5rem !important;
  padding: 0;
  list-style: none;
  background-color: #FCFFE7;
  border: none;
  outline: none;
  border-radius: 0 0 5px 5px;
  display: none;
  z-index: 3; }

#subdropdown2 {
  position: relative; }

.subdropdown-options2 {
  position: absolute;
  top: 40%;
  width: 100%;
  left: 0;
  padding-top: 1.5rem !important;
  padding: 0;
  list-style: none;
  background-color: #FCFFE7;
  border: none;
  outline: none;
  border-radius: 0 0 5px 5px;
  display: none;
  z-index: 1; }

#subSelect1 {
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: start;
  z-index: 4; }

#subSelect2 {
  margin-top: 1.6rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 2; }

.subselectori {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.subVS {
  font-size: 1.6rem;
  color: #FCFFE7;
  border: 2px #FCFFE7 solid;
  border-radius: 8px;
  padding: 1.2px 6px;
  font-family: museomoderno, 'sans-serif';
  display: none; }

#containerRes {
  width: 100vw;
  background-color: #2B3467;
  margin-top: 2rem; }

.containerRes__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .9rem 1.2rem .9rem 2rem; }
  .containerRes__container:not(:last-child) {
    border-bottom: 1px #FCFFE7 solid; }
  .containerRes__container--L__one {
    display: flex;
    align-items: center;
    color: #FCFFE7;
    font-family: museomoderno, 'sans-serif';
    font-size: 1.2rem;
    margin-bottom: .2rem; }
    .containerRes__container--L__one img {
      margin-right: 1.2rem !important; }
  .containerRes__container--L__two {
    display: flex;
    align-items: center;
    color: #FCFFE7;
    font-family: museomoderno, 'sans-serif';
    font-size: 1.2rem; }
    .containerRes__container--L__two img {
      margin-right: 1.2rem !important; }
  .containerRes__container--R {
    display: flex;
    justify-content: center; }
    .containerRes__container--R__one {
      background-color: #B3FFAE;
      color: #2b3467;
      font-family: jurabold, 'sans-serif';
      display: flex;
      font-weight: 700;
      align-items: center;
      padding: 0 1.7rem;
      border-radius: 3px;
      margin-right: .6rem;
      font-size: 1.4rem; }
    .containerRes__container--R__two {
      display: flex;
      align-items: center; }

#submitButton {
  background-color: #FCFFE7;
  border: none;
  outline: none;
  font-family: museomoderno, 'sans-serif';
  padding: .8rem 2rem;
  border-radius: 100px;
  margin-top: 4rem;
  display: none;
  text-decoration: none;
  color: #00235B;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.6rem; }

#tag {
  display: none; }

.show {
  display: block !important; }

#justCont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #justCont img {
    margin: 0; }

.deleteProno {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-right: 2rem;
  margin-top: 4rem;
  background: rgba(43, 52, 103, 0.4);
  border-radius: 100px;
  padding: .3rem 1.2rem;
  font-family: museomoderno, 'sans-serif';
  color: #FCFFE7;
  font-size: 1.1rem;
  display: none;
  cursor: pointer; }
  .deleteProno__txt {
    margin-right: .8rem; }

.showFlex {
  display: flex !important; }

.w20 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px; }

.ml10 {
  margin-left: 10px; }

.bubble-parent {
  position: fixed;
  z-index: 20;
  top: 3rem; }

.animate__animated.animate__fadeInDown {
  --animate-duration: .2s; }

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: #FF0303;
  border-radius: 1rem;
  padding: 14px 16px;
  text-align: center;
  color: #fff;
  font-size: 1.875rem;
  box-shadow: 0px 85px 34px rgba(0, 0, 0, 0.01), 0px 48px 29px rgba(0, 0, 0, 0.03), 0px 21px 21px rgba(0, 0, 0, 0.04), 0px 5px 12px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05); }
  .bubble img {
    margin-right: 1rem; }

@media screen and (max-width: 1500px) {
  .bubble {
    font-size: 2rem; } }

@media screen and (max-width: 1000px) {
  .bubble {
    font-size: 1.8rem;
    width: 20rem; } }

@media screen and (max-width: 600px) {
  .bubble {
    font-size: 1.5rem; } }

@media screen and (max-width: 1500px) {
  .bubble {
    font-size: 2rem; } }

@media screen and (max-width: 1000px) {
  .bubble {
    font-size: 1.8rem;
    width: 20rem; } }

@media screen and (max-width: 600px) {
  .bubble {
    font-size: 1.5rem; } }

#bubbleContainer {
  width: 100%;
  display: flex;
  justify-content: center; }
