*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

@font-face {
  font-family: museomoderno;
  src: url(/fonts/MuseoModerno-Regular.ttf) format("opentype"); }

body {
  padding: 2rem;
  background-color: #EB455F;
  display: flex;
  flex-direction: column;
  align-items: center; }

.heading__menu {
  text-align: end;
  margin-bottom: 5rem; }

.heading__title {
  margin-bottom: 4.4rem; }
  .heading__title h1 {
    font-family: museomoderno, 'sans-serif';
    text-transform: uppercase;
    font-size: 3.7rem;
    color: #FCFFE7;
    line-height: 3.4rem; }
  .heading__title--ms {
    text-transform: lowercase;
    font-size: 2.7rem;
    display: block;
    text-align: end; }

.leagueSelection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .leagueSelection__tag {
    background: rgba(43, 52, 103, 0.3);
    padding: .3rem 1.2rem;
    border-radius: 100px;
    margin-bottom: 1rem; }
    .leagueSelection__tag h3 {
      font-family: museomoderno, 'sans-serif';
      color: #FCFFE7; }

.test {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  background: #FCFFE7;
  padding: 1rem 2rem;
  border-radius: 100px; }
  .test__nume {
    margin-left: 1rem;
    font-family: museomoderno, 'sans-serif';
    font-size: 1.8rem;
    color: #00235B; }
  .test__arrow {
    margin-left: 2rem; }

#dropdown {
  position: relative; }

.dropdown-btn {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer; }

.dropdown-options {
  top: 100%;
  left: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none; }

.dropdown-option {
  padding: 10px;
  cursor: pointer; }

.dropdown-option:hover {
  background-color: #f2f2f2; }

.show {
  display: block; }
