*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  touch-action: manipulation;
}

$color-red: #EB455F;
$color-white: #FCFFE7;
$color-darkBlue: #2B3467;
$color-BlueDarky:#00235B;


@font-face {
    font-family: museomoderno;
    src: url(/fonts/MuseoModerno-Regular.ttf) format('opentype');
  }

@font-face {
  font-family: jura;
  src: url(/fonts/Jura-Regular.ttf) format('opentype');
}

@font-face {
  font-family: jurabold;
  src: url(/fonts/Jura-Bold.ttf) format('opentype');
}

body {
  position: relative;
    // padding: 2rem;
    background-color: $color-red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

// .finisher-header {
//   height: 100%;
// }

.animate__animated.animate__fadeInRight {
  --animate-duration: .5s;
}

.animate__animated.animate__fadeInLeft{
  --animate-duration: .5s;
}

.menuContainer {
  background: $color-white;
  width: 80vw;
  height: 90vh;
  z-index: 800;
  position: absolute;
  right: 0;
  display: none;
  border-radius: 10px 0 0 10px;
  padding: 1rem 1rem 0 2rem;

  @media only screen and (min-width: 640px) {
    width: 40rem;
    top: 5rem;
     }

  &__closeBtn {
    display: flex;
    justify-content: space-between;

    img {
      width: 32px;
      height: 32px;
      cursor: pointer;
    }

    #btnHome {
      padding: 0;
      margin: 0;
      border: none;
      background: none;
    }
    
    #btnHome {
      --primary-color: #111;
      --hovered-color: #c84747;
      position: relative;
      display: flex;
      font-weight: 600;
      font-size: 1.6rem;
      gap: 0.5rem;
      align-items: center;
      cursor: pointer;
    }
    
    #btnHome p {
      margin: 0;
      position: relative;
      font-size: 1.6rem;
      color: $color-BlueDarky;
    }
    
    #btnHome::after {
      position: absolute;
      content: "";
      width: 0;
      left: 0;
      bottom: -7px;
      background: $color-red;
      height: 2px;
      transition: 0.3s ease-out;
    }
    
    #btnHome p::before {
      position: absolute;
    /*   box-sizing: border-box; */
      content: "Acasa";
      width: 0%;
      inset: 0;
      color: $color-red;
      overflow: hidden;
      transition: 0.3s ease-out;
    }
    
    #btnHome:hover::after {
      width: 100%;
    }
    
    #btnHome:hover p::before {
      width: 100%;
    }
    
    #btnHome:hover svg {
      color: $color-red;
    }
    
    #btnHome svg {
      color: $color-BlueDarky;
      transition: 0.2s;
      position: relative;
      width: 12px;
      transition-delay: 0.2s;
      transform: rotate(180deg);
    }
  }


  &__Btns {

    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn {
      // position: absolute;
      position: relative;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      font-size: 1.6rem;
      font-weight: 600;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      background-color: inherit;
      border: none;
      outline: none;
      color: $color-BlueDarky;
      transition: color 0.3s;


      &:not(:last-child) {
        margin-bottom: 2rem;
      }

    }

    .btn:hover {
      color: $color-white;
    }
    
    .btn:hover .background {
      height: inherit;
      width: 120%;
      top: 50%;
    }
    
    .btn .background {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 3px;
      width: 100%;
      background-color: $color-red;
      z-index: -1;
      border-radius: 5px;
      transition: all 0.3s;
    }

    .btnG {
      z-index: 2;
      display: block;
      width: fit-content;
      height: auto;
      outline: none;
      border: none;
      background-color: inherit;
      font-size: 1.6rem;
      font-weight: bold;
      color: $color-BlueDarky;
      padding: 10px 20px;
      position: relative;
      cursor: pointer;
      margin: 0 2.5rem;
      margin-bottom: 2rem;
    }


    
    .btnG::before {
      content: "";
      display: block;
      width: 50%;
      height: 100%;
      z-index: 3;
      position: absolute;
      top: 0%;
      left: 0%;
      transform: scaleX(0.2) scaleY(0.4) translate(710%, 100%);
      border-top: solid 5px #67c431;
      border-left: solid 10px #67c431;
      transition: all .4s ease-in-out;

    }
    
    .btnG::after {
      content: "";
      display: block;
      width: 50%;
      height: 100%;
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-42%, -40%) scaleX(0.2) scaleY(0.4);
      border-bottom: solid 5px #67c431;
      border-right: solid 10px #67c431;
      transition: all .4s ease-in-out;
    }

    .btnG:hover::before {
      width: 100%;
      transform: translate(0%, 0%) scaleX(1) scaleY(1);
      border-top: solid 3px #67c431;
      border-left: solid 3px #67c431;
    }
    
    .btnG:hover::after {
      width: 100%;
      transform: scaleX(1) scaleY(1) translate(0%, 0%);
      border-bottom: solid 3px #67c431;
      border-right: solid 3px #67c431;
    }
    
  }

  &__oth {
    position: absolute;
    bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;

    p {
      font-size: 1.2rem;
      font-family: museomoderno, 'sans-serif';
      color: $color-darkBlue;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .cta {
      border: none;
      background: none;
      // margin-left: 2rem;

      &:not(:last-child){
        margin-bottom: 2rem;
      }
    }
    
    .cta span {
      padding-bottom: 7px;
      letter-spacing: 4px;
      font-size: 14px;
      padding-right: 15px;
      text-transform: uppercase;
    }
    
    .cta svg {
      transform: translateX(-8px);
      transition: all 0.3s ease;
    }
    
    .cta:hover svg {
      transform: translateX(0);
    }
    
    .cta:active svg {
      transform: scale(0.9);
    }
    
    .hover-underline-animation {
      position: relative;
      color: black;
      padding-bottom: 20px;
    }
    
    .hover-underline-animation:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #000000;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    .cta:hover .hover-underline-animation:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

 } 

 .showMenu {
  display: block;
 }


.heading {
    width: 100%;
    margin-top: 2rem;


    &__menu {
        // background: #000;
        margin-bottom: 5rem;
        margin-right: 2rem;
      display: flex;
      align-items: center;
      justify-content: end;
      position: relative;

      @media only screen and (min-width: 1010px) {
margin-right: 0;
         }

        #bell-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 4rem;
          position: relative;
          cursor: pointer;

          img {
            cursor: pointer;
          }

          #dot {
            display: none;
          }

          


          .blob {
            background: black;
            border-radius: 50%;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
            // margin: 10px;
            height: 10px;
            width: 10px;
            transform: scale(1);
            animation: pulse-green 2s infinite;
            position: absolute;
            top: 0;
            right: 1px;
          }

          @keyframes pulse-green {
            0% {
              transform: scale(0.95);
              box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
            }
            
            70% {
              transform: scale(1);
              box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
            }
            
            100% {
              transform: scale(0.95);
              box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
            }
          }


          .blob.green {
            background: rgba(51, 217, 178, 1);
            box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
            animation: pulse-green 2s infinite;
          }



        }

        .card {
          background: $color-white;
          padding: .5rem 2rem 2rem 2rem;
          position: absolute;
          top: 5rem;
          right: -2rem;
          border-radius: 5px;
          // height: 15rem;
          // width: 15rem;
          z-index: 10;



          &__title {
            color: $color-BlueDarky;
            font-family: museomoderno, 'sans-serif';
            // opacity: .6;
            align-self: center;
            text-align: center;
            font-size: 1.4rem;
            margin-bottom: .2rem;

         
          }

          hr {

            margin-bottom: 1.4rem;
            
          }

          &__content {
            // width: 30rem;
            .cardNot {
              display: flex;
              align-items: center;
              padding-bottom: 1rem;

              &:not(:last-child) {
                margin-bottom: 2rem;
                border-bottom: .5px solid #5e5d5d54;
              }


              &__timeC {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 1rem;
                font-size: .9rem;
                font-family: museomoderno, 'sans-serif';
                color: #5e5d5de5;
                line-height: 10px;
                // margin-left: 2rem;

                @media only screen and (max-width: 410px) {
                  font-size: .7rem;
                  margin-right: .5rem;
                           }
              }

              &__left {
                width: 1rem;
                height: 1rem;
                font-size: .9rem;
                display: flex;
                align-items: center;
                font-weight: 500;
                justify-content: center;
                color: $color-white;
                padding: 1.8rem;
                border-radius: 50%;
                font-family: 'Poppins', 'sans-serif';
                background: #00235b98;


                @media only screen and (max-width: 410px) {
                  width: .4rem;
                  height: .4rem;
                  font-size: .7rem;
                  padding: 1.6rem;
                           }
              }

              &__right {
                align-self: flex-start;
                margin-left: 1rem;

                &--title {
                  font-size: 1.4rem;
                  font-family: museomoderno, 'sans-serif';
                  color: $color-BlueDarky;
                  font-weight: 700;

                  @media only screen and (max-width: 410px) {
                    font-size: 1.4rem;
                    line-height: 15px;
                    // position: absolute;
                             }
                }

                &--txt {
                  font-size: .9rem;
                  color: $color-BlueDarky;
                  font-family: museomoderno, 'sans-serif';
                  opacity: .8;

                  @media only screen and (max-width: 410px) {
                    margin-top: .5rem;
                             }
                }
              }

              &__time {
                margin-left: 4rem;
                background: $color-red;
                // margin-right: 2rem;
                color: $color-white;
                font-size: 1rem;
                padding: .4rem 1rem;
                border-radius: 3px;
                font-family: museomoderno, 'sans-serif';
                font-weight: 700;


                @media only screen and (max-width: 410px) {
                  margin-left: .5rem;
                  font-size: .7rem;
                           }
              }
            }

            // :not(:last-child) {
            //   margin-bottom: 1.2rem;
            // }
          }
        }


      #menu {
        cursor: pointer;
      }
    }

    &__title{
        margin-bottom: 4.4rem;
        // max-width: 25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            font-family: museomoderno, 'sans-serif';
            text-transform: uppercase;
            font-size: 3.7rem;   
            color: $color-white; 
            line-height: 3.4rem;
        }

        &--ms {
            text-transform: lowercase;
            font-size: 2.7rem;
            display: block;
            text-align: end;
            margin-left: 5.2rem;
        }
    }
}

.vizibil {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }


.containerInfo {
  // display: none;
  // background-color: $color-white;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, $color-red 0px 18px 36px -18px inset;
  // padding: 1rem;
  // margin-bottom: 1rem;
  position: absolute;
  z-index: 888;
  height: 100vh;
  width: 100%;
  animation-duration: .2s !important;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  display: none;
  .closeBtn {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  

  .boxInfo {
    display: flex;
    // flex-direction: column;
    // width: 90%;
    align-items: center;
    // justify-content: center;
    // padding: 2rem;
  
    .text {
      color: $color-BlueDarky;
      font-size: 1.2rem;
      font-family: museomoderno, 'sans-serif';
      // width: 80%;
      // text-align: center;
    }

    &:not(:last-child){
      margin-bottom: 2rem;
    }

    img {
      margin-right: .7rem;
    }
  }
}

.containerInfoBox {
  width: 80%;
  height: max-content;
  border-radius: 10px;
  background: $color-white;
  box-shadow: #fcffe713 0px 50px 100px -20px, #fcffe71f 0px 30px 60px -30px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  padding: 2rem;

  @media only screen and (min-width: 620px) {
    width: 47rem;
     }
}

.buttonInfo {
  color: #ecf0f1;
  font-size: 17px;
  background-color: #5D9C59;
  border: 1px solid #5D9C59;
  border-radius: 5px;
  padding: 7px 15px;
  box-shadow: 0px 6px 0px #568f52;
  transition: all .1s;
  margin-top: 3.5rem;
  font-family: museomoderno, 'sans-serif';
  // position: absolute;
  // bottom: 4rem;
  // left: 50%;
  // transform: translateX(-50%);
  cursor: pointer;
 }
 
 .buttonInfo:active {
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 2px;
 }



.leagueSelection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 1010px) {
      width: 1010px;
      border: 4px solid $color-white;
      box-shadow: inset 0 0 .3em 0 $color-white,
      0 0 .3em 0 $color-white;
      // margin: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      border-radius: 10px;
       }
       @media only screen and (min-width: 1440px) {
        width: 1420px;
            box-shadow: inset 0 0 .3em 0 $color-white,
          0 0 .3em 0 $color-white;
         }

    &__tag {
        background: rgba(43, 52, 103, 0.3);
        padding: .3rem 1.2rem;
        border-radius: 100px;
        margin-bottom: 1rem;
        h3 {
            font-family: museomoderno, 'sans-serif';
            color: $color-white;
        }
    }


    &__selector {

        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;

        .dropdown-btn {
            position: relative;
            width: 26rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // margin-top: 4rem;
            background: $color-white;
            padding: 1rem 2rem;
            border-radius: 100px;
            border: none;
            outline: none;
            cursor: pointer;
            font-family: museomoderno, 'sans-serif';
            font-size: 1.8rem;
            color: $color-BlueDarky;
            z-index: 6;
            margin-bottom: 4rem;
         

            
           
            img {
                margin-right: 1.4rem;
            }

            .ddarrow {
                margin: 0 0 0 1.4rem;
            }
          }


          .pOne {
            display: flex;
            align-items: center;
          }
    }


}

// .test {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-top: 4rem;
//     background: $color-white;
//     padding: 1rem 2rem;
//     border-radius: 100px;

//     &__nume {
//         margin-left: 1rem;
//         font-family: museomoderno, 'sans-serif';
//         font-size: 1.8rem;
//         color: $color-BlueDarky;
//     }

//     &__arrow {
//        margin-left: 2rem;
//         img {
//             // width: 24px;
//             // height: 31px;
            
//         }
        
//     }
// }

  
  

#dropdown {
    position: relative;
    transform-origin: center;
  }
  
 
  
  .dropdown-options {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 20rem;
    left: 0;
    margin-top: 5px;
    padding-top: 3rem !important;
    padding: 0;
    list-style: none;
    background-color: $color-white;
    border: none;
    outline: none;
    border-radius: 0 0 5px 5px;
    display: none;
    z-index: 5;
  }

 


 

  
  .dropdown-option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-family: museomoderno, 'sans-serif';
    color: $color-darkBlue;

    img {
        margin-right: 1.4rem;
    }
  }
  
  .dropdown-option:hover {
    background-color: #f2f2f2;
  }
  
  

  #subSelect1, #subSelect2 {
    z-index: 2 ;
    // margin-top: 4rem;
    font-size: 1.2rem;
    width: 18rem;
    border-radius: 10px;


    .pOne {
      img {
        margin-right: 1rem;
      }
    }
  }

  #subdropdown {
    position: relative;
  }


  .subdropdown-options {
    position: absolute;
    top: 50%;
    width: 100%;
    max-height: 24.5rem;
    overflow: auto;
    left: 0;
    // margin-top: 5px;
    padding-top: 1.5rem !important;
    padding: 0;
    list-style: none;
    background-color: $color-white;
    border: none;
    outline: none;
    border-radius: 0 0 5px 5px;
    display: none;
    z-index: 3;
    // padding-left: 7px;
  }

  .subdropdown-options::-webkit-scrollbar {
    width: 8px; /* lățimea barei de scroll */
    margin-top: 1rem;

  }
  
  .subdropdown-options::-webkit-scrollbar-track {
    background: transparent; /* culoarea fundalului barei de scroll */
    margin-top: 2rem;
    
  }
  
  .subdropdown-options::-webkit-scrollbar-thumb {
    background: $color-BlueDarky; /* culoarea barei de scroll */
    border-radius: 50px;
  }

  .subdropdown-options {
    -webkit-overflow-scrolling: touch;
  }

  #subdropdown2 {
    position: relative;
  }

  .subdropdown-options2 {
    position: absolute;
    top: 40%;
    width: 100%;
    max-height: 24.5rem;
    overflow: auto;
    left: 0;
    // margin-top: 5px;
    padding-top: 1.5rem !important;
    padding: 0;
    list-style: none;
    background-color: $color-white;
    border: none;
    outline: none;
    border-radius: 0 0 5px 5px;
    display: none;
    z-index: 1;
  }

  .subdropdown-options2::-webkit-scrollbar {
    width: 8px; /* lățimea barei de scroll */
    margin-top: 1rem;

  }
  
  .subdropdown-options2::-webkit-scrollbar-track {
    background: transparent; /* culoarea fundalului barei de scroll */
    margin-top: 2rem;
    
  }
  
  .subdropdown-options2::-webkit-scrollbar-thumb {
    background: $color-BlueDarky; /* culoarea barei de scroll */
    border-radius: 50px;
  }

  .subdropdown-options2 {
    -webkit-overflow-scrolling: touch;
  }

  

  #subSelect1 {
    // margin-top: 4rem;
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: start;
    z-index: 4;

    @media only screen and (min-width: 430px) {
      margin: 0;
       }
  }

  #subSelect2 {
    margin-top: 1.6rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 2;

    @media only screen and (min-width: 430px) {
      margin: 0;
       }
  }

  .subselectori {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media only screen and (min-width: 430px) {
      flex-direction: row;
       }
  }
  
  .subVS {
    font-size: 1.6rem;
    color: $color-white;
    border: 2px $color-white solid;
    border-radius: 8px;
    padding: 1.2px 6px;
    font-family: museomoderno, 'sans-serif';
    display: none;


    @media only screen and (min-width: 430px) {
      margin: 0 1rem;
       }
  }

 




  #containerRes {
    width: 100vw;
    // background-color: $color-darkBlue;
    margin-top: 2rem;


    @media only screen and (min-width: 1010px) {
     width: 1010px;
       }

       @media only screen and (min-width: 1440px) {
        width: 1420px;

         }
  }


  .containerRes__container {
    background-color: $color-darkBlue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .9rem 1.2rem .9rem 2rem;
    position: relative;
    z-index: -1;

    &:not(:last-child) {
        border-bottom: 1px $color-white solid;
    }



    &--L {

      &__one {
        display: flex;
        align-items: center;
        // justify-content: center;
        color: $color-white;
        font-family: museomoderno, 'sans-serif';
        font-size: 1.2rem;

        margin-bottom: .2rem;
    
        img {
            margin-right: 1.2rem !important;
        }
       
    }

    &__two {
        display: flex;
        align-items: center;
        // justify-content: center;
        color: $color-white;
        font-family: museomoderno, 'sans-serif';
        font-size: 1.2rem;
        img {
          margin-right: 1.2rem !important;
        }
    
    }

    }


    &--R {
      display: flex;
      // align-items: center;
      justify-content: center;


      &__one {
        background-color: #B3FFAE;
        color: #2b3467;
        font-family: jurabold, 'sans-serif';
        display: flex;
        // justify-content: center;
        font-weight: 700;
        align-items: center;
        padding: 0 1.7rem;
        border-radius: 3px;
        margin-right: .6rem;
        font-size: 1.4rem;
      }

      &__two {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }


}



#submitButton {
    background-color: $color-white;
    border: none;
    outline: none;
    font-family: museomoderno, 'sans-serif';
    padding: .8rem 2rem;
    border-radius: 100px;
    margin-top: 4rem;
    display: none;
    text-decoration: none;
    color: $color-BlueDarky;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.6rem;
  }

  .blob.white {
    background: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse-white 2s infinite;
    -webkit-animation: pulse-white 2s infinite;
  }
  
  @keyframes pulse-white {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    
    70% {
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

#tag {
    display: none;
}

.show {
    display: block !important;
  }


#justCont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        margin: 0;
    }
}


.deleteProno {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-right: 2rem;
    margin-top: 4rem;
    background: rgba(43, 52, 103, 0.4);
border-radius: 100px;
padding: .3rem 1.2rem;
font-family: museomoderno, 'sans-serif';
color: $color-white;
font-size: 1.1rem;
display: none;
cursor: pointer;

&__txt {
    margin-right: .8rem;
}
}


.showFlex {
    display: flex !important;
  }


.w20 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;


}


.ml10 {
  margin-left: 10px;
}



.bubble-parent {
  // display: none;
  position: fixed;
  z-index: 20;
  top: 3rem;
  // left: 50%; 
  // transform: translateX(-50%);
}


.animate__animated.animate__fadeOut {
  --animate-duration: 5s; }

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: #FF0303;
  // background: #FF8B13;
  border-radius: 1rem;
  padding: 14px 16px;
  text-align: center;
  width: max-content;
  color: #fff;
  font-size: 1.8rem;
  box-shadow: 0px 85px 34px rgba(0, 0, 0, 0.01), 0px 48px 29px rgba(0, 0, 0, 0.03), 0px 21px 21px rgba(0, 0, 0, 0.04), 0px 5px 12px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);

  img {
    margin-right: 1rem;
  }

  @media only screen and (min-width: 320px) {
    margin: 0;
    font-size: 1.3rem;
     }

     @media only screen and (min-width: 1010px) {
      margin: 0;
      font-size: 1.5rem;
       }
}



#bubbleContainer {
  // background-color: red;
  width: 100%;
  display: flex;
  justify-content: center;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-red;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}



.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #fdfdfd50;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%; /* updated */
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  // background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/img/minge.svg');
  background-size: cover;
  background-position: center;
  border-radius: 50%; /* updated */
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    
  }

  25% {
    transform: translateY(9px) ;
  }

  50% {
    transform: translateY(18px) scale(1, .9) ;

  }

  75% {
    transform: translateY(9px) ;
  }

  100% {
    transform: translateY(0) ;

  }
}

@keyframes shadow324 {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

  
  #main-content {

  // display: none;


  }


  footer {
    // background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;


    p {
      font-size: 1.4rem;
      color: $color-white;
      font-family: museomoderno, 'sans-serif';
    }
  }

  #footer {
    display: none;
  }

  /* CSS */
#ddarrow {
  transition: transform .3s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}


.hide {
  display: none;
}

.show {
  display: block;
}